@media screen and (min-width: 300px) and (max-width: 450px){    /* VERSION CELULAR 300PX --- 450PX */
*{
    margin: 0;
    padding: 0; 
    }

body{
    height: max-content;
    width: 100vw;
    overflow-x: hidden;
}    

/* HEADER EMPIEZA */

header{
    position: relative;
    height: 60px;
    background: darkcyan;
    }
header h1{
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
header img{
    position: absolute;
    top: 32%;
    left: 90%;
    height: 25px;
    width: 25px;
}
header #carrito-no-activo{
    display: block;
}
header #carrito-activo{
    display: none;
}

/* HEADER TERMINA 
    SECTION ICONS EMPIEZA  */

#icons{
    width: 95vw;
    height: 50px;
    top: 15px;
    left: 3px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: scroll;
}
#icons div{
    height: 30px;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
}
#icons div img{
    height: 30px;
    width: 30px;
}
#icons div label{
    font-size: 10px;
}

       
/*  SECTION ICONS TERMINA
    SECTION NUESTROS PLATOS */

#nuestros-platos{
    top: 20px;
    height: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
#nuestros-platos h1{
    font-size: small;
    display: block;
    position: relative;
    width: 95vw;
    left: 5px;
    top: 10px;
    color: slategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } 
#nuestros-platos .productos{
    top: 25px;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95vw;
    position: relative;
}
#nuestros-platos .productos .foodname{
    font-size: medium;
    position: absolute;
    left: 80px;
}
#nuestros-platos .productos .price{
    position: absolute;
    top: 30px;
    left: 80px;
    color: grey;
    font-size: small;
}    
#nuestros-platos .productos .foodimage{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 5px;
    top: 5px;
}
#nuestros-platos .productos .nuestros-platos-button{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 80vw;
    top: 10px;
    color: black;
    background: orange;
    border-radius: 50%;
    border: none;
    font-size: 20px;
}
/*  SECTION NUESTROS PLATOS TERMINA
    SECTION RECOMENDED   */
#recomended{
    position: relative;
    height: 300px;
    width: 100vw;
    top: 20px;
    display: block;
}
#recomended h1{
    font-size: small;
    display: block;
    position: relative;
    width: 95vw;
    height: max-content;
    left: 15px;
    top: 10px;
    color: slategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#recomended #recomended-contenedor{
    position: relative;
    height: 280px;
    width: 100vw;
    top: 20px;
    overflow: scroll;
    display: inline-flex;
}
#recomended #recomended-contenedor .recomended{
    position: relative;
    height: 250px;
    top: 0;
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
}
#recomended #recomended-contenedor .recomended .recomended-image{
    position: absolute;
    height: 200px;
    width: 70vw;
    top: 0;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
#recomended #recomended-contenedor .recomended .span{
    position: relative;
    width: 70vw;
    height: 50px;
    top: 200px;
    color: white;
}
#recomended #recomended-contenedor .recomended .recomended-foodname{
    position: absolute;
    z-index: 2;
    font-size: 5vw;
    text-align: start;
    text-shadow: black 3px 3px 3px;
    color: white;
    left: 5%;
    top: 57%;
    width: 60vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#recomended #recomended-contenedor .recomended .span .recomended-price{
    position: absolute;
    left: 5%;
    font-size: 4vw;
    top: 35%;
    color: black;
}
#recomended #recomended-contenedor .recomended .span .añadir{
    position: absolute;
    left: 70%;
    top: 35%;
    width: 20vw;
    height: 22px;
    color: white;
    background: orange;
    border-radius: 25px;
    font-size: 3vw;
}

/*  SECTION RECOMENDED TERMINA 
    SECTION PEDIDO  */
    #pedidos{
        display: none;
        height: max-content;
        position: relative;
        flex-direction: column-reverse;
        align-items: center;
    }
    #pedidos #second-half{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        top: 20px;
        height: max-content;
    }
    #pedidos #second-half .forma-de-pago{
        display: block;
        position: relative;
        width: 95vw;
        left: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        top: 20px;
    }
    #pedidos #second-half .direccion{
        display: block;
        position: relative;
        width: 95vw;
        left: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        top: 20px;
    }
    #pedidos #second-half button{
        margin: 5px 5px 5px 5px;
        width: 71vw;
        height: 50px;
        border-radius: 25px 25px 25px 25px;
        border: transparent;
        background: sandybrown;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 80px;
    }
    #pedidos #second-half #cancelar-pedido{
        margin: 5px 5px 5px 5px;
        width: 71vw;
        height: 50px;
        border: transparent;
        background: transparent;
        color: orange;
    }
    #pedidos #first-half{
        height: max-content;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        padding-bottom: 50px;
        top: 20px;
    }
    #pedidos #first-half h1{
        font-size: small;
        display: block;
        position: relative;
        width: 95vw;
        left: 5px;
        top: 10px;
        color: slategray;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #pedidos #first-half div{
        top: 25px;
        height: 70px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 95vw;
        position: relative
    }
    #pedidos #first-half h3{
        font-size: medium;
        position: absolute;
        left: 80px;
    }
    #pedidos #first-half p{
        position: absolute;
        top: 30px;
        left: 80px;
        color: grey;
        font-size: small;
    }
    #pedidos #first-half img{
        position: absolute;
        width: 60px;
        height: 60px;
        left: 5px;
        top: 5px;
    }
    #pedidos #first-half .flecha-arriba{
        position: absolute;
        width: 25px;
        height: 25px;
        left: 90%;
        top: 40%;
        transform: translate(-50%);
    }
    #pedidos #first-half .contador{
        position: absolute;
        font-size: 25px;
        left: 85%;
        top: 38%;
        transform: translate(-50%);
        color: black;
    }
    #pedidos #first-half .flecha-abajo{
        position: absolute;
        width: 25px;
        height: 25px;
        left: 80%;
        top: 40%;
        transform: translate(-50%);
    }
/*  SECTION PEDIDO TERMINA 
    SECTION AGRADECIMIENTO */
    #pizza-section img{
        width: 80vw;
        height: 80vw;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    #pizza-section h1{
        position: relative;
        width: 100vw;
        text-align: center;
        top: -180px;
    }
    #pizza-section p{
        position: relative;
        width: 200px;
        height: 100px;
        top: -20px;
        left: 50%;
        transform: translate(-50%);
    }
    #pizza-section #comeback{
        position: relative;
        background: orange;
        border-radius: 25px 25px 25px 25px;
        width: 60vw;
        height: 30px;
        top: -50px;
        color: black;
        left: 50%;
        transform: translate(-50%);
    }
    /* SECTION AGRADECIMIENTO TERMINADO */
}

                                            /*  VERSION DE CELULAR 300PX --- 450PX FIN  */


@media screen and (min-width: 1366px) and (max-width: 1920px){
*{
    margin: 0;
    padding: 0; 
    }
    
body{
    height: fit-content;
    width: 100vw;
    }   
    /* HEADER EMPIEZA */
header{
    position: relative;
    height: 60px;
    background: darkcyan;
    width: 100vw;
    }
header h1{
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
header img{
    position: absolute;
    top: 32%;
    left: 95%;
    height: 25px;
    width: 25px;
}
header #carrito-no-activo{
    display: block;
}
header #carrito-activo{
    display: none;
}
/* HEADER TERMINA 
    SECTION ICONS EMPIEZA  */
#icons{
    width: 15vw;
    height: max-content;
    top: 6vw;
    left: 5vw;
    position: relative;        
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 0;
    }
#icons div{
    height: 60px;
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    }
#icons div img{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 2%;
    }
#icons div label{
    font-size: 1vw;
    font-weight: bold;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-30%,-50%);
    }
/*      SECTION ICONS TERMINA
    SECTION RECOMENDED EMPIEZA */
#recomended{
    position: relative;
    height: 1000px;
    width: 100vw;
    top: 20px;
    display: none;
    }
    #recomended h1{
    font-size: 15px;
    display: block;
    position: relative;
    width: max-content;
    height: max-content;
    left: 6.5%;
    top: 0;
    color: slategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#recomended #recomended-contenedor{
    position: relative;
    height: 950px;
    width: 100vw;
    top: 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
#recomended #recomended-contenedor .recomended{
    position: relative;
    height: 20vw;
    top: 0;
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    margin-left: 5vw;
    border: 1.5px solid black;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
#recomended #recomended-contenedor .recomended .recomended-image{
    position: absolute;
    height: 15vw;
    width: 30vw;
    top: 0;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
#recomended #recomended-contenedor .recomended .span{
    position: relative;
    width: 30vw;
    height: 2vw;
    top: 15vw;
    color: white;
    
}
#recomended #recomended-contenedor .recomended .recomended-foodname{
    position: absolute;
    z-index: 2;
    font-size: 1.5vw;
    text-align: start;
    text-shadow: black 3px 3px 3px;
    color: white;
    left: 5%;
    top: 60%;
    width: 30vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#recomended #recomended-contenedor .recomended .span .recomended-price{
    position: absolute;
    left: 5%;
    font-size: 1vw;
    top: 40%;
    color: black;
}
#recomended #recomended-contenedor .recomended .span .añadir{
    position: absolute;
    left: 77%;
    top: 40%;
    width: 6vw;
    height: 1.5vw;
    color: white;
    background: orange;
    border-radius: 25px;
    font-size: 1vw;
}
/*  SECTION RECOMENDED TERMINA  
SECTION NUESTROS PLATOS */

#nuestros-platos{
    top: -560px;
    height: max-content;
    position: relative;
    display: block;
    width: 80vw;
    left: 60%;
    transform: translate(-50%);
    }
#nuestros-platos h1{
    font-size: 25px;
    display: block;
    position: absolute;
    width: max-content;
    left: 6%;
    top: 6.5%;
    color: slategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } 
#nuestros-platos-container{
    display: flex;
    position: relative;
    width: 80vw;
    top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
#nuestros-platos-container .productos{
    top: 70px;
    height: 15vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    width: 20vw;
    position: relative;
    border: 2px solid black;
    overflow: hidden;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    left: 2.3vw;
}
#nuestros-platos-container .productos .foodname{
    font-size: 0.9vw;
    position: absolute;
    left: 5%;
    top: 75%;
}
#nuestros-platos-container .productos .price{
    position: absolute;
    top: 85%;
    left: 5%;
    color: grey;
    font-size: 1vw;
}    
#nuestros-platos-container .productos .foodimage{
    position: relative ;
    width: 20vw;
    height: 12vw;
    left: 0px;
    top: -30px;
    transform: skewY(10deg);
    border-bottom-right-radius: 25%;
    overflow: hidden;
}
#nuestros-platos-container .productos .foodimage img{
    width: 20vw;
    height: 12vw;
    border-bottom-right-radius: 20%;
    transform: skewY(-10deg);
    position: absolute;
    left: 0;
}
#nuestros-platos-container .productos .nuestros-platos-button{
    position: absolute;
    width: 5vw;
    height: 2vw;
    left: 82%;
    top: 80%;
    transform: translate(-50%);
    color: black;
    background: orange;
    border: 1.5px solid black;
    font-size: 20px;
}
/*  SECTION NUESTROS PLATOS TERMINA
    */
    #pedidos{
        display: none;
        height: max-content;
        position: relative;
        flex-direction: column-reverse;
        align-items: center;
    }
    #pedidos #second-half{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        top: 20px;
        height: max-content;
    }
    #pedidos #second-half .forma-de-pago{
        display: block;
        position: relative;
        width: 95vw;
        left: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        top: 20px;
    }
    #pedidos #second-half .direccion{
        display: block;
        position: relative;
        width: 95vw;
        left: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        top: 20px;
    }
    #pedidos #second-half button{
        margin: 5px 5px 5px 5px;
        width: 71vw;
        height: 50px;
        border-radius: 25px 25px 25px 25px;
        border: transparent;
        background: sandybrown;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 80px;
    }
    #pedidos #second-half #cancelar-pedido{
        margin: 5px 5px 5px 5px;
        width: 71vw;
        height: 50px;
        border: transparent;
        background: transparent;
        color: orange;
    }
    #pedidos #first-half{
        height: max-content;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        padding-bottom: 50px;
        top: 20px;
    }
    #pedidos #first-half h1{
        font-size: small;
        display: block;
        position: relative;
        width: 95vw;
        left: 5px;
        top: 10px;
        color: slategray;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #pedidos #first-half div{
        top: 25px;
        height: 70px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 95vw;
        position: relative
    }
    #pedidos #first-half h3{
        font-size: medium;
        position: absolute;
        left: 80px;
    }
    #pedidos #first-half p{
        position: absolute;
        top: 30px;
        left: 80px;
        color: grey;
        font-size: small;
    }
    #pedidos #first-half img{
        position: absolute;
        width: 60px;
        height: 60px;
        left: 5px;
        top: 5px;
    }
    #pedidos #first-half .flecha-arriba{
        position: absolute;
        width: 25px;
        height: 25px;
        left: 90%;
        top: 40%;
        transform: translate(-50%);
    }
    #pedidos #first-half .contador{
        position: absolute;
        font-size: 25px;
        left: 85%;
        top: 38%;
        transform: translate(-50%);
        color: black;
    }
    #pedidos #first-half .flecha-abajo{
        position: absolute;
        width: 25px;
        height: 25px;
        left: 80%;
        top: 40%;
        transform: translate(-50%);
    }
/*  SECTION PEDIDO TERMINA 
    SECTION AGRADECIMIENTO */
    #pizza-section img{
        width: 80vw;
        height: 80vw;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    #pizza-section h1{
        position: relative;
        width: 100vw;
        text-align: center;
        top: -180px;
    }
    #pizza-section p{
        position: relative;
        width: 200px;
        height: 100px;
        top: -20px;
        left: 50%;
        transform: translate(-50%);
    }
    #pizza-section #comeback{
        position: relative;
        background: orange;
        border-radius: 25px 25px 25px 25px;
        width: 60vw;
        height: 30px;
        top: -50px;
        color: black;
        left: 50%;
        transform: translate(-50%);
    }
    /* SECTION AGRADECIMIENTO TERMINADO */    
}                                           